NEXTJS_ENV=development
NEXT_PUBLIC_SUPABASE_URL=https://aklkhuxjixoorwcxytei.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=coloque_sua_anon_public_key_aqui
SUPABASE_SERVICE_ROLE_KEY=coloque_sua_service_role_key_aqui
ADMIN_PASS=troque_esta_senha

# Shopee Afiliados
SHOPEE_AFFILIATE_APP_ID=18333870469
SHOPEE_AFFILIATE_SECRET=coloque_sua_senha_da_api_shopee_aqui
