# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://aklkhuxjixoorwcxqyxtei.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=coloque_sua_anon_public_key_aqui
SUPABASE_SERVICE_ROLE_KEY=coloque_sua_service_role_key_aqui

# Admin
ADMIN_PASS=troque_esta_senha
